<!doctype html> 
<html lang="en"> 
  <head> 
    <meta charset="UTF-8" />
    <title>Space</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <link href="stylesheet.css" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/phaser.css")}/>
  </head>
  <body>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/game.js")}></script>
  </body>
</html>